<div class="content">
  <p></p>
  <div class="box">
    <h1>New Link</h1>
    <%= render "form", link: @link %>
    <p></p>
    <%= link_to "Back to links", links_path, class:"button" %>
  </div>
</div>
